body {
    background-image: url("https://c.neh.tw/thumb/f/720/6458442180984832.jpg");
 background-size: cover;
  }
  .f{
      height: 100px ;
      width: 100px;
      border-radius: 25px;
      padding: 10px;
      width: 200px;
      height: 150px;
      position:center;
      margin-left: 40%;
    margin-right: 40%;
      
  }
  .us{
    background-color: rgb(255, 255, 255);
    size: 100px;
    opacity:50%;
    size-adjust:inherit;
     margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
   
    
}
