
body {
    background-image: url("https://media.istockphoto.com/photos/sale-from-bookshelf-with-book-in-form-of-letters-isolated-on-white-picture-id1021155974?k=20&m=1021155974&s=612x612&w=0&h=IykYfs0Alh28DEEvDWDOUi308yaOgTHkV-_zeanuyLQ=");
 background-size: cover;
  }

.d{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding:initial;
    width: initial;
    height: initial;
  text-align: center;
}
.tab{
    border: none;
    color: rgb(212, 51, 51);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    opacity: 80%;
}
    
.b{
    background-color: #87db89; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}